
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    overflow-x: hidden;
}


 .underline{
     border-top: 5px #29abe2 solid;
     width: 100px;
     text-align: center;
     margin: auto;
     padding: 20px;
     margin-top: 10px;
 }
